<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<style>

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


</style>
<title>Recipes</title>
</head>
<body>
	<h1>List of recipes</h1>
	<table class="styled-table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Preparation time</th>
			<th>Cook time</th>
			<th>Difficulty</th>
					
		</tr>
		<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.id}">123</td>
			<td th:text="${recipe.description}">s</td>
			<td th:text="${recipe.prepTime}">s</td>
			<td th:text="${recipe.cookTime}">s</td>
			<td th:text="${recipe.difficulty}">s</td>
		</tr>
	</table>

</body>
</html>